/* ----- 47. ABOUT PAGE ----- */
.rv-inner-about-btn {

    .txt,
    .icon {
        border-color: #295AC6;
        background-color: #295AC6;
    }
}

.rv-1-section-heading-2 .rv-1-section-heading__right .rv-inner-about-btn:hover {
    border-color: #295AC6;
    background-color: #295AC6;
}

.rv-inner-slider-nav button:hover {
    border-color: #295AC6;
    background-color: #295AC6;
}